{
    "bootstrap": false,
    "server": true,
    "datacenter": "{{ consul_dc }}",
    "data_dir": "{{ consul_data_path}}",
    "encrypt": "{{ consul_keygen }}",
    "log_level": "INFO",
    "ui": true,
    "enable_syslog": true,
    "client_addr": "0.0.0.0",
    "start_join": {{ server_nodes | to_nice_json }}
}
